body{
	font-family: 'Comfortaa', cursive;
}

td{
	padding: 10px;
}

i{
	padding: 0px 0px 0px 40px;
	font-size: 12px;
}

nav{
	display: flex;
	justify-content: flex-start;
}

button{
	margin: 5px;
}

h1{
	padding: 5px 0px 0px 0px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 70px;
	text-shadow: 3px 2px white;
}

.vertical{
	margin-top: 350px;
	height: 150px;
	writing-mode: vertical-rl;
	float: left;
	font-size: 30px;
}

.head{
	width: auto;
	height: 160px;
	background-color:#ff8246;
	text-align: center;
}

.styleText{
	padding: 25px 5px 5px 5px; 
}

.canvasBody{
	margin: 10px;
   	background-color:#373a6d;
   	border-radius: 5px;
   	box-shadow: 10px 10px 5px #ff8246; 
}

.canvasBody:hover{
	opacity: 0.9;
}

.form1{
	display: flex;
	justify-content: center;
}


.success{
	margin-top: 20px;
	padding: 10px;
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 650px) {
	  body {
	    background-color: #f1f1f1;
	  }

	  h1{
		padding: 5px 0px 0px 0px;
		font-family: 'Fredericka the Great', cursive;
		font-size: 35px;
		}

	 .head{
		width: auto;
		height: 110px;
		background-color:#ff8246;
		text-align: center;
		}

		.styleText{
		padding: 15px 3px 3px 3px; 
		font-size: 20px;
	}

	.vertical{
		margin-top: 50px;
		float: left;
		height: 80px;
		width: 35px;
		font-size: 15px;
	}

} 









